nav{
    background-color: black;
    color: white;
    position: fixed;
    top:0;
    width:100%
}
li{
    list-style:none;
}
ul{
    display: flex; /*in same*/
    gap:25px;/*gap for each*/
    justify-content: right;/*to be place in right*/
    
}